@import './styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: var(--color-background-gray);
  color: white;
  padding: 0.2rem;
}

.main {
  flex: 1;
  padding: 2rem;
  background: var(--color-surface, #f5f5f5);
  overflow-wrap: break-word;
}

.main.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  padding: 0;
  background: linear-gradient(
          0deg,
          rgba(18, 13, 2, 1) 0%,
          rgba(20, 20, 20, 1) 80%,
          rgba(168, 168, 168, 1) 100%
  );
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
}